#container {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

#title {
    grid-row: 1/2;
    display: grid;
    justify-content: center;
    font-family: Amatic SC;
    font-size: 50px;
}

#newbookbutton {
    grid-row: 2/3;
    display: grid;
    justify-content: center;
    margin-top: 25px;
}

#newbookcontainer {
    margin-top: 15px;
    grid-row: 3/4;
    display: grid;
    justify-content: center;
    font-family: 'Patrick Hand';
   
}

button {
    font-family: Amatic SC;
    background-color: #FFB347;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: groove;
}

button:hover {
    background-color: #2a9df4;
    color: white;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
}

#newbook {
    font-size: 20px;
    padding: 5px 35px;
    grid-row: 1/2;
}


#bookformcontainer {
    grid-row: 2/3;
}

#cardscontainer {
    grid-row: 4/5;
    margin-top: 370px;
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}

label {
    float: left;
    width: 60px;
    margin-right: 5px;

}

#bookform {
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    font-size: 20px;
}

#formsubmit {
    width: 60px;
    padding: 5px 5px;
    font-size: large;
}

input {
    height: 20px;
}


.card {
    display: grid;
    gap: 10px;
    justify-content: center;
    border-color: #2a9df4;
    border-width: 5px;
    border-style: solid;
    padding: 15px;
    border-radius: 8px;
    background-color: #FFFCEB;
    font-family: 'Patrick Hand';
    box-shadow: 10px 5px 5px #FFB347;
    font-size: 17px;
    min-width: 100px;
    min-height: 150px;
}

.card button {
    width: 60px;
}